// Tipography
$fontHead: 'PT Sans', sans-serif;
$fontPar: 'Open Sans', sans-serif;

// Colors
$brown: #784D3C;
$grey: #e1e1e1;
$white: #ffffff;
$black: #000000;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;